/* Global styles */

body {
    padding: 0;
    margin: 0;
    background-color: #2F3D56;
}

#blink_screen {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255,0,0); /* Fallback color */
}

div {
    padding: 0px 0px;
    margin: 0;
}

/* Header and Footer Styles */

header {
    width: 100%;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: #2F3D56;
    color: #ccc;
    border-bottom: solid 4px #eee;
    font-family: 'Open Sans', sans-serif;

}

header a {
    color: #ccc;
}

footer {
    width: 100%;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    background-color: #2F3D56;
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    border-top: solid 4px #eee;
}

footer a {
    color: #ccc;
}

footer a:visited {
    color: #ccc;
}

#header_left {
    width: 100%;
    text-align: left;
    padding-left: 20px;
    font-size: 24px;
    font-family: 'Oleo Script', cursive;
}

#header_right {
    width: 100%;
    text-align: right;
    padding-right: 20px;
    font-size: 16px;
}

#footer_left {
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

#footer_center {
    width: 100%;
    text-align: center;
}

#footer_right {
    width: 100%;
    text-align: right;
    padding-right: 20px;
}


/* Game Area Styles */

#game_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #9FB1BC;
}

#side_panel {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: solid white 4px;
    margin-left: 40px;
    font-family: 'Open Sans', sans-serif;
}

#difficulty_panel_header {
    font-size: 16px;
    padding: 4px;
    background-color: #2F3D56;
    color: #88A2AF;
}

#difficulty_panel_value {
    font-size: 24px;
    padding: 4px;
    color: #2F3D56;
}

#timer_panel_header {
    font-size: 16px;
    padding: 4px;
    border-top: solid white 4px;
    background-color: #2F3D56;
    color: #88A2AF;
}

#timer_panel_value {
    font-size: 24px;
    padding: 4px;
    color: #2F3D56;
}

#input_mode_panel_header {
    font-size: 16px;
    padding: 4px;
    border-top: solid white 4px;
    background-color: #2F3D56;
    color: #88A2AF;
}

#input_mode_panel_value {
    font-size: 18px;
    padding: 4px;
    color: #2F3D56;
}

/* New Game Panel */

#new_game_panel {
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #9FB1BC;
    font-family: 'Open Sans', sans-serif;
}


#new_game_panel h1 {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

#new_game_panel h2 {
    text-align: center;
}

#diff_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.diff_button {
    font-size: 20px;
    padding: 5px 20px;
    margin: 10px;
    background-color: #2F3D56;
    color: #9FB1BC;

}

.diff_button:hover {
    color: #fff;
    cursor: pointer;
}



/* Modal Styles */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    padding-top: 60px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #A9BBC6;
    margin: auto;
    padding: 0px;
    border: 4px solid #fff;
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.modal-title {
    align-items: center;
    text-align: left;
    text-indent: 1em;
    padding: 4px 0px;

    font-size: 20px;
    background-color: #2F3D56;
    color: #eee;
    width: 100%;
}

.modal-body {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    color: #222;
}

.modal-footer {
    display: flex;
    flex-direction: row-reverse;
}

.modal-body a {
    color: #222;
}

.modal-body a:visited {
    color: #222;
}

.modal-button {
    padding: 5px 20px;
    margin: 20px;
    background-color: #2F3D56;
    color: #9FB1BC;
}

/* The Close Button */
.close-x {
    color: #ddd;
    float: right;
    padding-right: 20px;
    font-weight: bold;
}

.close-x:hover, .close-x:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.modal-button:hover, .modal-button:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#input-help {
    width: 80%;
    border: solid 1px #2F3D56;
    border-spacing: 0;
}

#help_modal .modal-body {
    text-align: left;
    font-size: 14px;
}

#input-help td {
    margin: 0px;
    font-size: 14px;
    padding: 3px;
    border: solid 1px #2F3D56;
}

#input-help thead {
    background-color: #2F3D56;
    color: #eee;
}

#confirm_modal .modal-footer {
    justify-content: center;
    flex-direction: row;
}

#solved_modal .modal-footer {
    justify-content: center;
    flex-direction: row;
}